/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  /* DARK DEFAULT */
  --bg: #0b1020;
  --text: #ffffff;
  --text-soft: #ddd;

  --section-bg: #10162f;
  --card-bg: #151c3d;

  --header-gradient: linear-gradient(135deg, #0052d4, #00f2fe);
  --button-gradient: linear-gradient(135deg, #0052d4, #00f2fe);

  --footer-bg: #050914;
}
body {
  background: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER */
header {
  position: relative;
  background: var(--header-gradient);
  width:100%;
}
.header-container{
  max-width: 1200px; /*Laptop ekranı standardı*/
  margin: 0 auto;    
  width: 90%;        
  
  /* Flexbox ayarların burada olmalı */
  display: flex;
  justify-content: space-between; /* Elemanları yayar */
  align-items: center;
  height: 60px; /* Örnek yükseklik */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  height: 40px;
}
.nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  position: relative;
  padding: 5px 0;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s; /*bu saniyede ortaya çıkması*/
}

nav a:hover::after {
  width: 100%; /*ortaya cıkarken kendini tam anlamıyla görünür kılması için*/
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.nav-action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}
body.dark {
  background: #0b1020;
  color: white;
}

body.light {
  --bg: #f8fafc;
  --text: #0f172a;
  --text-soft: #475569;

  --section-bg: #ffffff;
  --card-bg: #ffffff;

  --header-gradient: linear-gradient(135deg, #dbeafe, #cffafe);
  --button-gradient: linear-gradient(135deg, #60a5fa, #67e8f9);

  --footer-bg: #e2e8f0;
}

body.light header {
  background: linear-gradient(135deg, #e0e7ff, #c7d2fe);
}

body.light .game-card {
  background: white;
  color: #111;
}
body.light .theme-btn {
  border-color: #111;
  color: #111;
}

.theme-btn {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition:all 0.3s ease;
}

.theme-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* HERO */
.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background: linear-gradient(rgba(17, 22, 42, 0.85), rgba(17, 22, 42, 0.95));
}

.main-content {
  max-width: 700px;
}

.main h1 {
  font-size: 48px;
  margin-bottom: 20px;
   background: var(--header-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--text-soft);
}

.main button {
  padding: 12px 30px;
  border: none;
  background: linear-gradient(135deg, #0052d4, #00f2fe);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.main button:hover {
  transform: scale(1.05); /*Mouse ile gelince bu oradan büyüt*/
  box-shadow: 0 0 20px #00f2fe;
}

/* ABOUT */
.about {
  padding: 80px 60px;
  background: var(--section-bg);
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: auto;
  color: var(--text-soft);
}

/* GAMES */
.games {
  padding: 80px 60px;
}

.games h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.game-card {
  background: var(--card-bg);
  color: var(--text);
  border-radius: 15px;
  overflow: hidden; /* bunun sayesinde fotoraf arkaplanda kalmıs olarak gösterebiliyoruz*/
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  position: relative;
}

.game-card:hover {
  transform: translateY(-10px); /*Mouse gelince 10px yukarı çıksın*/
}

.game-card img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* içine uyumus bir şekilde göstermesi için*/
}

.game-card-content {
  padding: 20px;
}

.game-card h3 {
  margin-bottom: 10px;
  color: #00f2fe;
}

/* FOOTER */
footer {
  background: var(--footer-bg);
  padding: 80px 30px;
  text-align: center;
  color: #aaa;
}
/*TEAM LOGO*/
.team_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.team_logo img {
  height: 40px;
}
/*TEAM CARD*/
.team {
  min-height: 100vh;
  padding: 80px 20px;
  text-align: center;
}
.team h1 {
  font-size: 48px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.team p {
  color: #8ecbff;
  margin-bottom: 60px;
  font-size: 18px;
}
/*kartlarin icerigi*/
.team_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-card {
  width: 260px;
  padding: 30px 20px;
  border-radius: 20px;
  background: var(--card-bg);
  backdrop-filter: blur(10px);

  box-shadow:
    0 0 20px rgba(0, 150, 255, 0.3),
    inset 0 0 15px rgba(0, 150, 255, 0.2); /*ic bolgeye renk katmasi icin inset kullandim*/

  transition: 0.4s;
  position: relative;
}
.team-card:hover {
  transform: translateY(-10px) scale(1.05); /*hem 10px yukari hem de verilen oran kadar buyumasini sagliyor*/
  box-shadow: 0 0 40px rgba(0, 200, 255, 0.8);
}
.team-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid #00aaff;
  padding: 4px;

  box-shadow: 0 0 15px #00aaff;

  margin-bottom: 20px;
}
/* ad */

.team-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #ffffff;
  background: linear-gradient(135deg, #0052d4, #00f2fe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* rol */

.team-card span {
  font-size: 15px;
  color: #6fc2ff;
  letter-spacing: 0.5px;
}

.team_card_active {
  width: 400px;
  padding: 30px 20px;
  border-radius: 20px;
  background: var(--card-bg);
  backdrop-filter: blur(10px);

  box-shadow:
    0 0 20px rgba(0, 150, 255, 0.3),
    inset 0 0 15px rgba(0, 150, 255, 0.2);

  transition: 0.4s;
  position: relative;
}
/*active adi*/
.team_card_active h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #ffffff;
  background: linear-gradient(135deg, #0052d4, #00f2fe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*active rol*/
.team_card_active span {
  font-size: 15px;
  color: #6fc2ff;
  letter-spacing: 0.5px;
}

.team_card_active img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid #00aaff;
  padding: 4px;

  box-shadow: 0 0 15px #00aaff;

  margin-bottom: 20px;
}
.team_card_active:hover {
  transform: translateY(-20px) scale(1.05); /*20px yukari kaymasi icin*/
}

.team_card_active::after {
  content: "";

  position: absolute; /*afterin içinde istediğimiz bir şekilde operasyonları yapabilmemiz
   ve üstte kalması sağlıyor*/
  inset: 0;

  background:
    url("./images/sertifika.jpeg") center/contain no-repeat,
    rgba(0, 0, 0, 0.85);

  opacity: 0;
  transform: scale(0.9);

  transition: 0.4s ease; /*effectli olması ıcın 0.4 saniye geciktiriyoruz*/
}
.team_card_active:hover::after {
  opacity: 1; /*önceden saydamlığını azalttığım kısmı sertifikayı görünür yapmak için opaclıgı arttırıyorum*/
  transform: scale(1);
}
/*Teklif hesaplama modul kismi*/

.mainCost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.game_kategori {
  margin: 60px 40px;
}

.optionsBlock {
  padding: 12px 30px;
  width: 400px;
  margin: 30px 50px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
   background: var(--header-gradient);
  border: none;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.optionsBlock:hover {
  transform: scale(1.05);
}
.optionsBlock h3 {
  font-size: 30px;
  margin-bottom: 8px;
  color: var(--text);
}

.radioItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}
.radioItem input {
  width: 16px;
  height: 16px;
}
#icerik{
  background: rgba(255, 255, 255, 0.1); /* %10 beyazlık */
  border: 1px solid rgba(255, 255, 255, 0.3); /* İnce beyaz çerçeve */
  backdrop-filter: blur(10px); 
  color: white; /* Yazı rengi beyaz */
  padding: 10px 15px;
  border-radius: 8px;
  outline: none; /* Tıklayınca çıkan mavi çizgiyi kaldır */
  font-family: sans-serif; 
  width: 300px; 
}

/* Tıklanıldığında (Focus hali) */
#icerik:focus {
  background: rgba(255, 255, 255, 0.2);
  border-color: #fff;
}

/* Placeholder (İpucu yazısı) rengi */
#icerik::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.btnArea {
  margin-top: 30px;
}

#hesaplaBtn {
  padding: 12px 30px;
  margin: 30px 50px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-soft);
 background: var(--header-gradient);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hesaplaBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 242, 254, 0.4);
}

#hesaplaBtn:active {
  transform: scale(0.97);
}
.gizli {
  display: none;
}

@media (max-width: 726px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #333;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav ul {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }

  .nav.active {
    max-height: 300px; /* menu yüksekliğinden büyük olsun */
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .logo {
    font-size: 18px;
  }

  .main-content h1 {
    font-size: 26px;
  }

  .main-content p {
    font-size: 14px;
  }

  .main-content button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .game-card {
    width: 100%;
  }

  footer p {
    font-size: 13px;
    text-align: center;
  }
  .team_content{
    margin:20px;
    

  }
  .team_logo {
    font-size: 18px;
    gap: 10px;
  }

  .team h1 {
    font-size: 24px;
  }

  .team p {
    font-size: 14px;
    padding: 0 15px;
  }

  .team-card,
  .team_card_active {
    width: 100%;
  }

  footer p {
    font-size: 13px;
    text-align: center;
  }
}
/* --- AYDINLIK İÇİN INPUT AYARLARI --- */
body.light #icerik {
  background: #ffffff;       
  border: 1px solid #ccc;    
  color: #333333;            
  box-shadow: 0 5px 15px rgba(0,0,0,0.05); 
}

/* Aydınlık modda placeholder (ipucu yazısı) rengi */
body.light #icerik::placeholder {
  color: #888888;
}

/* Aydınlık modda tıklanınca (focus) */
body.light #icerik:focus {
  border-color: #0052d4;     /* Tıklayınca kenarlık mavi olsun */
  background: #fff;
}
